<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/aside") %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <%- include('template/breadcrumb', {module: 'Crear Representante'}) %>

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">
           
            <div class="container">              
                <form action="/saveRepresentante" method="POST">
                    <div class="mb-3">
                      <label for="dni_representante" class="form-label">Dni</label>
                      <input type="number" class="form-control" id="dni_representante" name="dni_representante" tabindex="2">
                    </div>
                    <div class="mb-3">
                      <label for="nombre_representante" class="form-label">Nombre</label>
                      <input type="text" class="form-control" id="nombre_representante" name="nombre_representante" tabindex="2">
                    </div>
                    <div class="mb-3">
                      <label for="apellido_paterno_representante" class="form-label">Apellido Paterno</label>
                      <input type="text" class="form-control" id="apellido_paterno_representante" name="apellido_paterno_representante" tabindex="2">
                    </div>
                    <div class="mb-3">
                      <label for="apellido_materno_representante" class="form-label">Apellido Materno</label>
                      <input type="text" class="form-control" id="apellido_materno_representante" name="apellido_materno_representante" tabindex="2">
                    </div>
                    <div class="mb-3">
                      <label for="correo_representante" class="form-label">Correo Electronico</label>
                      <input type="email" class="form-control" id="correo_representante" name="correo_representante" tabindex="2">
                    </div>
                    <div class="mb-3">
                      <label for="telefono_representante" class="form-label">Telefono</label>
                      <input type="number" class="form-control" id="telefono_representante" name="telefono_representante" tabindex="2">
                    </div>  
                    <button onclick="registrar();" type="submit" class="btn btn-primary" tabindex="4">Registrar Representante</button>
                    <a href="/representantes" class="btn btn-secondary">Cancelar</a>
                  </form> 
                </div>
                  
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <%- include("template/footer") %>