<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/aside") %>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <%- include('template/breadcrumb', {module: 'Crear Persona'}) %>

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">
            <div class="container">              
                <form action="/savePerson" method="POST">
                  <fieldset class="formulario__campo empresa">
                    <div class="formulario__div">
                      <input type="number" class="formulario__input" id="dni_persona" name="dni_persona" tabindex="1" autofocus placeholder=" " maxlength="11" max="99999999999" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" >      
                      <label for="dni_persona" class="formulario__label">DNI</label>
                    </div>
                    <div class=" formulario__div">
                      <input type="text" class="formulario__input" id="nombre_persona" name="nombre_persona" tabindex="1" autofocus placeholder=" ">              
                      <label for="nombre_persona" class="formulario__label">Nombre Persona</label>
                    </div>
                    <div class=" formulario__div">
                      <input type="text" class="formulario__input" id="apellido_paterno" name="apellido_paterno" tabindex="1" autofocus placeholder=" ">              
                      <label for="apellido_paterno" class="formulario__label">Apellido Paterno</label>
                    </div>
                    <div class="formulario__div">
                      <input type="text" class="formulario__input" id="apellido_materno" name="apellido_materno" tabindex="1" autofocus placeholder=" ">              
                      <label for="apellido_materno" class="formulario__label">Apellido Materno</label>
                    </div>
                    <div class="formulario__div">
                      <input type="number" class="formulario__input" id="telefono" name="telefono" tabindex="1" autofocus placeholder=" ">              
                      <label for="telefono" class="formulario__label">Telefono</label>
                    </div>
                    <div class="formulario__div">
                      <input type="text" class="formulario__input" id="correo_electronico" name="correo_electronico" tabindex="2" placeholder=" ">
                      <label for="correo_electronico" class="formulario__label">Correo Electronico</label>
                    </div>  
                    <div class="formulario__div">
                      <input type="text" class="formulario__input" id="direccion_persona" name="direccion_persona" tabindex="2" placeholder=" ">
                      <label for="direccion_persona" class="formulario__label">Direccion</label>
                    </div>                 
                    <button onclick="registrar();" type="submit" class="formulario__boton-single b slide" tabindex="4"><span>Registrar</span></button>             
                    <button type="button" class="formulario__boton-single slide" ><span><a style="color:#fff;" href="/persons">Cancelar</a></span></button>
                  </fieldset>
                  </form> 
                </div>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <%- include("template/footer") %>