<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/aside") %>


<div class="content-wrapper">
  <%- include('template/breadcrumb', {module: 'Crear Cotización'}) %>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-md-12">
          <div class="container">
            <form id="myForm" action="/saveCotizacion" method="POST">
                    <div class="form-group">
                        <label>Servicios</label>
                        <select id="valores" class="select2" multiple="multiple" data-placeholder="Selecciona los servicios"
                                    style="width: 40%;">
                              <% results.forEach ((cotiz) => { %>
                                <option value="<%= cotiz.nombre_rol %>"><%= cotiz.nombre_rol %></option>        
                                <% }) %>
                            </select>
                      </div>
                    <div class="formulario__div-botones" style="text-align:center;">
                    <input type='hidden' id= 'hiddenField' name='id' value='' />
                    <input type="submit" class="formulario__boton slide" value="Registrar" onclick="AddPostData();">
                </div>
            </form>
        </div>
    </div>

      </div><!-- /.container-fluid -->
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <%- include("template/footer") %>
  <script>

    function AddPostData() {
        const payMethSelect = document.querySelector('#valores');
    // console.log(payMethSelect);
// init
let opts = (JSON.parse( localStorage.getItem('valores') || '[]' ))
console.log(opts);
Array.from( payMethSelect.options).forEach(opt => 
  {
  opt.selected = opts.includes(opt.value)
  });

payMethSelect.onchange =_=>
  {
  let opts = Array.from(payMethSelect.selectedOptions).map(opt=>opt.value)
  console.log(opts);
  localStorage.setItem('valores', JSON.stringify(opts))
  }
  console.log(opts);
        
    }



  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()
  })
  </script>

