<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/aside") %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <%- include('template/breadcrumb', {module: 'Creacion de usuario'}) %>

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">
           
            <div class="container">              
                <form action="/saveUser" method="POST">
                    <div class="mb-3">
                      <label for="dni_persona" class="form-label">DNI</label>
                      <input type="number" class="form-control" id="dni_persona" name="dni_persona" tabindex="1" autofocus>              
                    </div>
                    <div class="mb-3">
                      <label for="pass" class="form-label">Contraseña</label>
                      <input type="password" class="form-control" id="pass" name="pass" tabindex="2">
                    </div>
                    <div class="mb-3">
                      <label for="cpass" class="form-label">Confirmar contraseña</label>
                      <input type="password" class="form-control" id="cpass" name="cpass" tabindex="2">
                    </div>
                    <div class="mb-3">
                      <select id="codigo_rol" name="codigo_rol" class="form-select" tabindex="3">
                        <option></option>
                        <option value="1">Administrador</option>
                        <option value="2">Produccion</option>
                        <option value="3">RRHH</option>
                        <option value="4">Ventas</option>
                        <option value="5">Almacen</option>
                        <option value="6">Gerencia</option>
                        <option value="7">Contabilidad</option>
                      </select>
                    </div>                   
                    <button type="submit" class="btn btn-primary" tabindex="4">Crear</button>
                    <a href="/users" class="btn btn-secondary">Cancelar</a>
                  </form> 
                </div>
                  
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <%- include("template/footer") %>