<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/aside", { nombre_usuario: nombre_usuario, estado_usuario: estado_usuario}) %> 
<title>Fixmort S.A.C</title>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <%- include('template/breadcrumb', {module: 'Presentación'}) %>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">            
           
            <div class="card">
                <div class="card-header">
                  Bienvenido <%= nombre_usuario %>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Buen dia</h5>
                  <p class="card-text">Fixmort S.A.C. empresa dedicada a la
                     reparación y mantenimiento de maquinarias; comprometida con el progreso de sus clientes, cumpliendo siempre altos estándares de calidad, seguridad y cuidado del medio ambiente.</p>
                  <a href="http://fixmort.com/" class="btn btn-primary">Ir a pagina oficial</a>
                </div>
            </div>

          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <%- include("template/footer") %>