<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Fixmort">
    <meta name="generator" content="Fixmort 1.0.0">
    <title>Sistema Login</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="fondo">
      <div class="imagen__fondo">
        <img src="/img/FONDO_FIXMORT.jpg" alt="imagen de fondo" >
      </div>
      <div class="logo">
        <img class="mb-4" src="img/logo-fixmort.png" alt="logo">
      </div>
      <main class="form-signin text-center p-3 mb-5">
      <form id="formLogin" action="/login" method="POST">
        <h1>Inicia Sesión</h1>
        
        <p class="form-floating">
          
          <input type="text" class="form-control formulario__input" name="nombre_usuario" id="nombre_usuario" placeholder="Usuario" autofocus>
          <label for="nombre_usuario" class="formulario__label">Usuario</label>
        </p>
        <p class="form-floating">
          <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
          <label for="pass">Contraseña</label>
        </p>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar Sesión</button>    
      </form>
      <br>
      <!-- <a href="/register" type="button" class="w-100 btn btn-lg btn-bd-primary">Sign in</a> -->
    </main>
    </div>
    
    

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
    <% if(alert) { %>
      <script>
        Swal.fire({
          title: '<%= alertTitle %>',
          text:'<%= alertMessage %>',
          icon:'<%= alertIcon %>',
          showConfirmButton: '<%= showConfirmButton %>',
          timer: '<%= timer %>'
        }).then(()=>{
          window.location = '/<%= ruta %>'
        })
      </script>
    <% } %>
  </body>
</html>
