<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/aside") %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <%- include('template/breadcrumb', {module: 'Usuarios'}) %>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">            
            <div class="container tabla-contenedor">
              <a href="/createUser" class="btn btn-primary mb-2"> <i class="fa-regular fa-square-plus"></i></a>
              <table id="example1" class="table tabla table-bordered table-striped text-center mt-4">
                <thead>
                  <tr class="bg-primary text-white">
                    <th scope="col">ID</th>
                    <th scope="col">Dni</th>
                    <th scope="col">Codigo rol</th>
                    <th scope="col">Nombre Usuario</th>
                    <th scope="col">Estado Usuario</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% results.forEach ((user) => { %>
        
                    <tr>
                      <th><%= user.usuario %></th>
                      <th><%= user.dni_persona %></th>
                      <th><%= user.codigo_rol %></th>
                      <th><%= user.nombre_usuario %></th>
                      <th><%= user.estado_usuario %></th>
                      <td>
                        <a href="/editUser/<%= user.usuario %>" class="btn btn-info"> <i class="fa-regular fa-pen-to-square"></i></a>
                        <a onclick="confirmation(<%= user.usuario %>);" class="btn btn-danger"> <i class="fa-regular fa-trash-can"></i></a>              
                      </td>
                    </tr>                              
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <%- include("template/footer") %>